<div class="overlay"></div>
<div class="grad"></div>
<div class="bg"></div>

<div class="center">
  <h1 class="bold">{{ wmsg }} <span class="branding">Agile</span></h1>
  <p class="norm">What are you waiting for? Let's get started with today.</p>
  <app-login
    (formEmit)="signupEvent($event)"
    *ngIf="loginDisplay == true"
  ></app-login>
  <app-signup *ngIf="loginDisplay == false"></app-signup>
  <p>{{ childData }}</p>
</div>

<div class="footer">
  <a target="_blank" href="https://github.com/PrabhjotxSingh/agile" class="link"
    >Check out the GitHub</a
  >
</div>
