<input
  placeholder="First name"
  class="inputw"
  type="text"
  id="fname"
  name="fname"
/>
<br /><br />
<input
  placeholder="Last name"
  class="inputw"
  type="text"
  id="fname"
  name="fname"
/>
<br /><br />
<input
  placeholder="Email (this will be your username)"
  class="inputw"
  type="text"
  id="fname"
  name="fname"
/>
<br /><br />
<input
  placeholder="Password"
  class="inputw"
  type="text"
  id="fname"
  name="fname"
/>
<br /><br />
<input
  placeholder="Password again"
  class="inputw"
  type="password"
  id="lname"
  name="lname"
/>
<br /><br />
<button class="btni">Signup</button>
